<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <meta charset="utf-8">
        <title>Mahjong</title>
        <link rel="stylesheet" href="/assets/styles.css" media="screen" title="no title">
    </head>
    <body>
        <div ng-controller="gameController">
            <p>Discards:
                <span class="hand ng-class: tile" ng-repeat="tile in tableDiscards">{{tile.suit}} {{tile.value}}</span>
            </p>
            <p>Most Recent Discard:
                <span class="hand ng-class: tile">{{tableDiscard.suit}} {{tableDiscard.value}}</span>
            </p>
            <p>Player One's Tiles:
                <ul ng-repeat="player in players">
                    Player {{player.name}}
                    <li ng-click="player.discard($index)" class="hand ng-class: tile" ng-repeat="tile in player.hand">{{tile.value}} {{tile.suit}}</li>
                </ul>
            </p>
            <button ng-click="players[0].roll()">TEST ROLL</button>
        </div>
    </body>
    <script src="angular/angular.js" charset="utf-8"></script>
    <script src="assets/app.js" charset="utf-8"></script>
</html>
